<a href="/brands">Brand Index</a>
<a href="/watches">Watch Index</a>
<br>
<br>

<h1><%= @watch.model %></h1>

<p>Bracelet: <%= @watch.bracelet %></p>
<p>Movement: <%= @watch.movement %></p>
<p>Case Material: <%= @watch.case_material %></p>
<p>Case Size: <%= @watch.case_size %></p>
<p>Crown Guard: <%= @watch.crown_guard %></p>
