<a href="/brands">Brand Index</a>

<h1><%= @brand.name %></h1>

<p><%= @brand.country %></p>
<p><%= @brand.year_founded %></p>

<p>Number of Watches: <%= @brand.number_of_watches%></p>
<h3><a href="/brands/<%= @brand.id %>/watches">Watches</a></h3>
