<a href="/brands">All Brands</a>
<a href="/watches">All Watches</a>

<h1><%= @brand.name %></h1>
<h5><a href="/brands/<%= @brand.id %>/edit">Update Brand</a></h5>
<h5><p><%= link_to "Delete #{@brand.name}", "/brands/#{@brand.id}", data: { turbo_method: :delete } %></p></h5>

<p>Country of Origin: <%= @brand.country %></p>
<p>Year Founded: <%= @brand.year_founded %></p>

<p>Number of Watches: <%= @brand.number_of_watches%></p>
<h3><a href="/brands/<%= @brand.id %>/watches">Watches</a></h3>
